* {
	font-family: "Arial";
	color: white;
}

.logo {
	height: 80%;
	transform: translate(0px, 9px);
}

.titlebar {
	text-align: center;
	background-color: #b9b7b7;
	
	position: absolute;
	top: 0px;
	width: 100%;
	height: 12%;
}
.main {
	background-color: gray;
	
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 96%;
	
	min-width: 450px;
	min-height: 340px;
}

.container {
	position: absolute;
	top: 12%;

	width: 100%;
	height: 88%;
}
.container-left {
	float: left;
	width: 20%;
}
.container-right {
	float: right;
	width: 80%;
	height: 95%;
	
	background-color: #b9b7b7;
}
.container-inner {
	padding: 5px;
}

.screenshot {
	width: 50%;
	border-radius: 20px;
}
.screenshots {
	text-align: center;
}

.sidebar-list {
	width: 100%;
	padding: 5px;
	font-weight: bold;
}
.sidebar-list-hover {
	background-color: #cccccc;
	transition: 0.3s;
}
.sidebar-list-active {
	background-color: #b9b7b7;
}